<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MassTransitStudy.Purser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <MassTransitStudy.Purser.Properties.Settings>
            <setting name="ServiceDescription" serializeAs="String">
                <value>Service responsible for persistance of data extracted from various messages.</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>MassTransitStudyPurser</value>
            </setting>
            <setting name="ServiceDisplayName" serializeAs="String">
                <value>MassTransit Study Purser</value>
            </setting>
        </MassTransitStudy.Purser.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>