<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MassTransitStudy.Api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MassTransitStudy.Api.Properties.Settings>
      <setting name="ServiceDisplayName" serializeAs="String">
        <value>MassTransit Study Api</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>MassTransitStudyApi</value>
      </setting>
      <setting name="ServiceDescription" serializeAs="String">
        <value>Basic self-hosted Api service</value>
      </setting>
      <setting name="CassandraNode" serializeAs="String">
        <value>192.168.0.2</value>
      </setting>
      <setting name="ServiceBaseAddress" serializeAs="String">
        <value>http://localhost:8081/</value>
      </setting>
    </MassTransitStudy.Api.Properties.Settings>
  </applicationSettings>
</configuration>