@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Sample Messages Hub</h3>
</div>

<div ng-controller ="SampleMessagesHubController">
    <div class="row">
        <p>{{ message }}</p>
        <form novalidate>
            <input type="text" ng-model="message" />
            <button ng-click="sendMessage()">Send Message</button>
            <button ng-click="loadMessages()">Load Messages</button>
            <button ng-click="clearMessages()">Clear Messages</button>
        </form>
    </div>
    <div class="row">
        <sample-messages-table></sample-messages-table>
    </div>
</div>