@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Sample Messages Hub</h3>
</div>

<div class="row">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="button" id="loadMessages" value="Load Messages" />
</div>
<div class="row">
    <table id="messagesList"></table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    <script>
        $(function () {
            var chat = $.connection.sampleMessagesHub;

            chat.client.addNewMessageToPage = renderMessageOnPage;

            chat.client.addListOfMessagesToPage = function (message) {
                message.Result.forEach(renderMessageOnPage);
            };

            $.connection.hub.start().done(function () {
                $('#loadMessages').click(function () {
                    chat.server.getSampleMessagesList(0, 0);
                });

                $('#sendmessage').click(function () {
                    chat.server.send($('#message').val());
                    $('#message').val('').focus();
                });
            });
        });

        function renderMessageOnPage(message) {
            $('#messagesList').append(
                '<tr><td>' + htmlEncode(message.Id) + '</td><td>' + htmlEncode(message.Timestamp) + '</td><td>' + htmlEncode(message.Data) + '</td></tr>');
        }

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}